<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <div class="contaner-fluid">          
          <center>
           <container class="top-bg">
           <spacer size="34"></spacer>
             <row>
               <columns large="6">
                <a href="#">
                 <img class="inline-block-logo" src="https://cdn1.savepice.ru/uploads/2018/2/28/d28829726a0b3a3df1b6295706815a4c-full.png" alt="gusto" />
                 <span>&nbsp&nbsp&nbsp</span>
                 <p class="top-text-left">Gus<span>to</span></p>
               </a>
               </columns>
               <columns large="6">
                 <spacer size="13"></spacer>
                <p class="text-right top-text-right">Having Trouble Viewing it? <a href="#">View Online.</a></p>
               </columns>
             </row>
            <spacer size="14"></spacer>
           </container>
          </center>
        </div>

          <container>
           <spacer size="30"></spacer>
            <row>
              <columns>
                <center>
                  <img src="https://cdn1.savepice.ru/uploads/2018/2/28/b0bbc6ce0fec427d2951f24edc5522ae-full.jpg" alt="Картинка" />
                </center>
              </columns>
            </row>
          </container>
          
          <container>
            <row>
              <columns>
                <h2 class="heading">Larger Item Heading</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                <button href="#">Details</button>
                <spacer size="14"></spacer>
                <p class="border-bottom"></p>
              </columns>
            </row>
          </container>
          
          <container>
            <row>
              <columns large="4"><a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/6a08f6b81eeeb8d6836ef1adad0afdbb-full.jpg" alt="реклама" /></a></columns>
              <columns large="4"><a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/6a08f6b81eeeb8d6836ef1adad0afdbb-full.jpg" alt="реклама" /></a></columns>
              <columns large="4"><a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/6a08f6b81eeeb8d6836ef1adad0afdbb-full.jpg" alt="реклама" /></a></columns>
            </row>
            <row>
              <columns>
                 <spacer size="14"></spacer>
            <p class="border-bottom"></p>
              </columns>
            </row>
          </container>

             <container>
            <row>
              <columns>
                <h2 class="heading">Blog Post Title One</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                <button href="#">Details</button>
                <spacer size="14"></spacer>
                <p class="border-bottom"></p>
              </columns>
            </row>
          </container>

             <container>
            <row>
              <columns>
                <h2 class="heading">Blog Post Title Two</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                <button href="#">Details</button>
                <spacer size="14"></spacer>
                <p class="border-bottom"></p>
              </columns>
            </row>
          </container>

          <div class="contaner-fluid">
            <container class="bottom-bg">
              <row>
                <columns large="4">
                    <spacer size="30"></spacer>
                    <h2 class="heading">Stay Connected</h2>
                </columns>
                <columns small="9" large="8">
                  <spacer size="20"></spacer>
                  <p class="text-right margin-bottom"><a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/de1649cfd0dc5773742a519671fc4666-full.png" alt="instagram" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/08bd442d12bf723646d4039904bce082-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/0bbc994938a2c4a337e8f712cbfcb326-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/8fcee8be975c461f03edb0528d6b44bd-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/0f206d7ee818cf91a3a6dea415e7d540-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/7476f08895bafcf5cedc45145cae1ac4-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/349e67b1779a2f7812e73995547db690-full.png" alt="facebook" /></a>
                  <a class="display-inline" href="#"><img src="https://cdn1.savepice.ru/uploads/2018/2/28/83afb46b2b6700c61ba20ca8e812cac3-full.png" alt="facebook" /></a></p>
                </columns>
              </row>
            </container>
                   
          
          <container class="top-bg">
            <spacer size="30"></spacer>
            <row>
              <columns large="8">
                <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo est id nulla luctus, quis posuere metus elementum. Phasellus elementum tortor nec massa pellentesque lobortis.</p>
              </columns>
              <columns large="4">
                <ul class="footer-list">
                  <li><a href="#">Quick Link One</a></li>
                  <li><a href="#">Quick Link Two</a></li>
                  <li><a href="#">Quick Link Three</a></li>
                  <li><a href="#">Quick Link Four</a></li>
                </ul>
              </columns>
            </row>
          </container>
          <container class="top-bg">
            <row>
              <columns>
                  <p class="border-bottom-footer"></p>
              </columns>
            </row>
          </container>
           <container class="top-bg">
             <row>
               <columns>
                 <p class="copy">Copyright 2013 <a href="#"><span>Gusto</span></a>. All Rights Reserved.</p>
               </columns>
               <columns>
                 <p class="text-right copy"><a href="#">View Online</a> | <a href="#">Unsubscribe</a></p>
               </columns>
             </row>
           </container>

          </div> 
        </td>
      </tr>
    </table>
</body>
</html>